go 1.25.0

use (
	./gateway
	./pkg/errcode
	./pkg/events
	./pkg/jwt
	./pkg/pagination
	./pkg/storage
	./pkg/validator
	./services/ai-service
	./services/comment-service
	./services/mood-service
	./services/notification-service
	./services/post-service
	./services/quote-service
	./services/user-service
	./test/e2e
	./test/integration
)
